{% extends "base.html" %}
{% block content %}
<!-- Image Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img src="" class="img-fluid" id="modalImage">
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <h2 class="card-title mb-0">Trending Plots</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" class="text-center">Any</th>
                        <th scope="col" class="text-center">Photon</th>
                        <th scope="col" class="text-center">Jet</th>
                    </tr>
                </thead>
                <tbody>
                    {% for trendtype in ["Absolute", "Deviaton", "Correlation"] %}
                    <tr>
                        <th scope="row"  class="text-center">{{trendtype}}</th>
                        <td><img src="{{url_for('static', filename=trendings[trendtype]['any'])}}" class="img-fluid clickable-image" alt="Any trend - {{trendtype}}" style="cursor: pointer;"></td>
                        <td><img src="{{url_for('static', filename=trendings[trendtype]['photon'])}}" class="img-fluid clickable-image" alt="Photon trend - {{trendtype}}" style="cursor: pointer;"></td>
                        <td><img src="{{url_for('static', filename=trendings[trendtype]['jet'])}}" class="img-fluid clickable-image" alt="Jet trend - {{trendtype}}" style="cursor: pointer;"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" class="text-center">Gamma Very Low</th>
                        <th scope="col" class="text-center">Gamma Low</th>
                        <th scope="col" class="text-center">Gamma High</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"  class="text-center">Over EMCal readout</th>
                        <td><img src="{{url_for('static', filename=trendings['OverReadout']['gammaverylow'])}}" class="img-fluid clickable-image" alt="gammaverylow - OverReadout" style="cursor: pointer;"></td>
                        <td><img src="{{url_for('static', filename=trendings['OverReadout']['gammalow'])}}" class="img-fluid clickable-image" alt="gammalow - OverReadout" style="cursor: pointer;"></td>
                        <td><img src="{{url_for('static', filename=trendings['OverReadout']['gammahigh'])}}" class="img-fluid clickable-image" alt="gammahigh - OverReadout" style="cursor: pointer;"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-header">
        <h2 class="card-title mb-0">Available Runs</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="runsTable" class="table table-bordered table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col" class="text-center">Run Number</th>
                        <th scope="col" class="text-center">Photon Trigger QA</th>
                        <th scope="col" class="text-center">Jet Trigger</th>
                        <th scope="col" class="text-center">Trigger Selectivity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for run in runs %}
                    <tr>
                        <th scope="row">
                            {{run}}
                            <a href="https://ali-qcg.cern.ch/?page=layoutShow&layoutId=6253132b974e95413c4d178b&tab=cell%20overview&RunNumber={{run}}" 
                               class="btn btn-sm btn-outline-primary ms-2" 
                               target="_blank" 
                               title="Open in QC GUI">
                                QC
                            </a>
                        </th>
                        <td><img src="{{url_for('static', filename=plots[run]['photon'])}}" class="img-fluid clickable-image" alt="Photon QA - Run {{run}}" style="cursor: pointer;"></td>
                        <td><img src="{{url_for('static', filename=plots[run]['jet'])}}" class="img-fluid clickable-image" alt="Jet QA - Run {{run}}" style="cursor: pointer;"></td>
                        <td><img src="{{url_for('static', filename=plots[run]['selectivity'])}}" class="img-fluid clickable-image" alt="Selectivity - Run {{run}}" style="cursor: pointer;"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<a href="{{url_for('mainpage')}}"> Back to period</a>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
    // Initialize DataTable
    $('#runsTable').DataTable({
        order: [[0, 'desc']], // Sort by run number (first column) in descending order
        pageLength: 25,       // Show 25 entries per page
        columnDefs: [
            {
                targets: [1, 2, 3], // Disable sorting on image columns
                orderable: false
            }
        ]
    });

    // Handle image clicks
    $('.clickable-image').click(function() {
        var imgSrc = $(this).attr('src');
        var imgAlt = $(this).attr('alt');
        $('#modalImage').attr('src', imgSrc);
        $('.modal-title').text(imgAlt);
        $('#imageModal').modal('show');
    });
});
</script>
{% endblock %}